*{
   padding: 0;
   margin: 0;
}
img{
   max-width: 100%;
}
a{
   text-decoration: none;
}
.logo p{
   align-items: center;
   color: #DA924E;
   font-weight: 700;
   font-size: 20px;
}
.row.g-3.needs-validation.mx-5 {
	margin-top: 116px;
}
.ui-datepicker-trigger {
	margin-top: -25px;
	float: right;
	margin-right: 5px;
}
.card-text {
	font-size: 14px;
}
.card {
	height: 446px;
}
.section-two.d-flex.justify-content-center.mt-5 {
	padding: 30px 0;
	border-top: 1px solid #D1D5DD;
	border-bottom: 1px solid #D1D5DD;
	width: 100%;
}
.text-ber {
	font-size: 14px;
}
.bangla-text {
	margin-top: 33px;
	margin-left: -179px;
}
.three-text {
	margin-left: -50px;
   color: #DA924E;
   font-weight: 700;
   font-size: 20px;
  
}
.sub-title {
	font-size: 13px;
	line-height: 15px;
	text-align: end;
	color: #006747;
	font-weight: 400;
}
.title-ber {
	font-weight: bold;
	font-size: 13px;
	line-height: 23px;
	text-align: end;
}
.lest-ber{
   border-top: 2px solid #048016;
}
.logo.d-flex {
	margin-left: -12px;
}
